<div class="failure">        
  <%= f.text_field :description, placeholder: "Description of your failure." %>
  <br \>
  <%= f.text_area :lesson, placeholder: "What did you learn from this failure?" %>
  <br \>
  <br \>
</div>