<div class="failure">        
  <div class="form-wrapper">
    <%= f.text_field :description, class: "description", placeholder: "Describe your failure." %>
  </div>
  <div class="form-wrapper">
    <%= f.text_area :lesson, class: "lesson", placeholder: "What did you learn from this failure?" %>
  </div>
  <br \>
</div>